<ion-header>
  <ion-toolbar>
    <ion-title style="color: greenyellow;">Skills</ion-title>
    <ion-buttons slot="end"(click)="GoToHomePage()"><ion-button>Home</ion-button></ion-buttons>
    <ion-buttons slot="end"(click)="GoToAboutPage()"><ion-button>About Me</ion-button></ion-buttons>
    <ion-buttons style="color: greenyellow;"slot="end"(click)="GoToSkillsPage()"><ion-button>Skills</ion-button></ion-buttons>
    <ion-buttons slot="end"(click)="GoToContactPage()"><ion-button>Contact</ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment color="success" value="success">
    <ion-segment-button value="success">
      <ion-label>Success</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
